*{
    box-sizing: border-box;
}
body{
    margin: 0 0 0 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* MENU */


header{
    width: 100%;
    height: 50px;
    display: flex;
    background-color: white;
    border-bottom: 1px solid #E2DDDD;
}
nav{
    /* margin: 0 100px 0 100px; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
nav img{
    width: 120px;
    height: 50px;
    margin-left: -150px;

}
#menubox{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    margin-right: -150px;

}

#menubox li{
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 15px;
    padding-right: 15px;
    font-weight: 400;
    text-shadow: 0.1em 0.1em 0.2em #00000020 ;
}
#contato{
    background-color: #344F75;
    color: white;
     padding: 5px 0px 5px 10px ;
     border-radius: 2px;
    box-shadow: 0.1em 0.2em 0.2em #00000020 ;
}
a{
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: black;
 }

#contato a:visited{
     color:white;
}


/*  Main */

#conteudoprincipal{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#secao1{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#secao1 img{
    height: 400px;
    width: 379px;
    margin-right: 50px;
}
#conteudo2{
    margin: 10px 0 80px 30px;
    font-family: 'Jost', sans-serif;
    width: 379px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#conteudo2 h1{
    margin-bottom: 10px;
    font-weight: 800;
    font-size: 50px;
    text-shadow: 0.1em 0.1em 0.1em #00000023  ;
}
#conteudo2 p{
    font-weight: 400;
    font-size: 20px;
    text-shadow: 0.1em 0.1em 0.1em #00000022  ;

}
.button{
    height: 30px;
    width: 100px;
    color: white;
    background-color:#344F75 ;
    border: white;
    box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.459);
}

#secao2{
    box-sizing: content-box;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(-233deg,#192436, #344F75, #557AB5);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 3px;
    border: 1px solid rgba(12, 126, 192, 0.274); 
}
#secao2 p{
    color: white;
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    margin: 0px 300px 0px 300px;
    text-shadow: 0.1em 0.1em 0.3em #000000 ;

}
#secao3{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid #E2DDDD;
    font-family: Jost, sans-serif;
}
#card1{
    height: 350px;
    width: 300px;
    background-image: linear-gradient(-233deg,#192436, #344F75, #557AB5);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 3px;
    border: 1px solid rgba(12, 126, 192, 0.274);       
    position: relative;
    display: flex;
    flex-direction: column;

}
.imgstudent{
    display: flex;
    justify-content: center;
    position: absolute;
    left: -50px;
    top: 15px;
    box-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.596) ;
    border-radius: 100%;


}
.infostudent{
    margin-left: 60px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 12px;
    color: rgba(255, 255, 255, 0.63);

}
.infostudent h4{
    margin-bottom: -15px;
    font-size: 15px;
    color:white;

}
.commentstudent{
    width: 70%;
    margin: 45px;
    text-align: center;
    margin-top: 20px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 14px;
    color: white;
}
#card2{
    height: 350px;
    width: 300px;
    background-image: linear-gradient(-233deg,#192436, #344F75, #557AB5);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 3px;
    border: 1px solid rgba(12, 126, 192, 0.274);       
    margin: 0 100px;
    position: relative;
    display: flex;
    flex-direction: column;
}
#card3{
    height: 350px;
    width: 300px;
    background-image: linear-gradient(-233deg,#192436, #344F75, #557AB5);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 3px;
    border: 1px solid rgba(12, 126, 192, 0.274);       
    position: relative;
    display: flex;
    flex-direction: column;
}

#secao4{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    background-color: white;
    border-bottom: 1px solid #E2DDDD;
    align-items: center;
    justify-content: center;

}

.boxescontainer{
    width: 40%;
    height: 480px;
    display: flex;
    flex-direction: row;
    color: white;
    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Jost', sans-serif;
    font-size: 13px;
}
.boxescontent{
    width: 500px;
    position: relative;
}
.box1{
    text-align: center;
    width: 260px;
    height: 260px;
    background-image: linear-gradient(-233deg,#192436, #344F75, #557AB5);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 3px;
    border: 1px solid rgba(12, 126, 192, 0.274);   
    position: absolute;
    left: 55px;
    padding: 10px;

}
.box2{
    text-align: center;
    width: 260px;
    height: 260px;
    background-image: linear-gradient(-233deg,#192436, #344F75, #557AB5);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 3px;
    border: 1px solid rgba(12, 126, 192, 0.274);   
    position: absolute;
    border-radius: 8px;
    left: 300px;
    top: 20px;
    padding: 10px;
}

.box3{
    text-align: center;
    width: 260px;
    height: 260px;
    background-image: linear-gradient(-233deg,#192436, #344F75, #557AB5);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 3px;
    border: 1px solid rgba(12, 126, 192, 0.274);   
    position: absolute;
    border-radius: 8px;
    left: 70px;
    top: 215px;
    padding: 10px;
}

.slider{
   width: 400px;
   overflow: hidden;

}

.slider > .slider-content{
    display: flex;
    flex-wrap: nowrap;
    width: 400px;
    transition: all 500ms ease;


}

.slider > .slider-content > .slider-item {
    flex: 0 0 auto;
    width: 400px;
}

.slider > input:nth-child(1):checked ~ .slider-content{
    transform: translateX(0%);
}

.slider > input:nth-child(2):checked ~ .slider-content{
    transform: translateX(-100%);
}
.slider > input:nth-child(3):checked ~ .slider-content{
    transform: translateX(-200%);
}


/* Footer */




footer{
    width: 100%;
    height: 400px;
    /* border: 1px solid #E2DDDD; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
}

#footer1 h2{
    font-family: 'Koulen', cursive;
    font-size: 30px;
}
#footer1 h3{
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-weight: 200;
    color: rgba(0, 0, 0, 0.373);
    font-size: 15px;

}
#footer2 h3{
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-weight: 200;
    color: rgba(0, 0, 0, 0.373);
    font-size: 15px;


}
#footer3 h3{
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-weight: 200;
    color: rgba(0, 0, 0, 0.373);
    font-size: 15px;

}
