*{
    
    box-sizing: border-box;
}
body{
    margin: 0 0 0 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

header{
    width: 100%;
    height: 50px;
    display: flex;
    background-color: white;
    border-bottom: 1px solid #E2DDDD;
}
nav{
    /* margin: 0 100px 0 100px; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
nav a{
    text-decoration: none;
    color: #000;
    transition: all 0.2s;
}
nav a:hover{
    color: #557AB5;
}
nav img{
    width: 120px;
    height: 50px;
    margin-left: -150px;

}
#menubox{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    margin-right: -150px;

}

#menubox li{
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 15px;
    padding-right: 15px;
    font-weight: 400;
    text-shadow: 0.1em 0.1em 0.2em #00000020 ;
}
#contato{
    background-color: #344F75;
    color: white;
     padding: 5px 0px 5px 10px ;
     border-radius: 2px;
    box-shadow: 0.1em 0.2em 0.2em #00000020 ;
}
a{
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: black;
 }

#contato a:visited{
     color:white;
}
.container{
    margin: 0 160px;
}
.mainBanner, .businessPlan{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    background: url(../img/bgPlanoValores.png);
    background-repeat: no-repeat;
    background-position: center;

    width: 100%;
    height: 550px;
    
}
.mainBanner p{
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    font-weight: 600;
    font-size: 45pt;
    width: 50%;
    color: #fff;
}
.cardContainer{
    display: flex;
    flex-direction: row;
    margin: 64px 0;
    
}
.cardPlans{
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 450px;
    height: 450px;
    
    background: #F5F5F5;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.397);

    margin: 32px;

    border-top: 16px solid #344F75;
}
.cardValue{
    text-align: center;

    margin: 32px 0;
    padding: 8px;

    font-size: 32pt;
    width: 100%;

    background-image: linear-gradient(-233deg,#192436, #344F75, #557AB5);
}
.cardContent{
    margin: 16px 0;
}
.cardValue{
    margin: 32px 0;
    font-weight: 600;
    font-size: 25pt;
    color: #fff;
}
.cardContent h1, p{
    font-family: Jost, sans-serif;
    text-align: center;
    margin: 8px 0;
}

.cardContent h1{
    font-size: 18pt;
    color: #344F75;
}
.cardContent p{
    font-size: 12pt;
    font-weight: 600;
}
.cardDescription{
    width: 95%;
    font-size: 10pt;
}
.cardPlans button{
    margin: 16px 0;
    background: #344F75;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.438);
    color: #fff;
    border: 0;
    
    width: 160px;
    height: 45px;

    font-size: 18pt;
    font-weight: 600;

    border-radius: 8px;
    transition: all 0.2s;

    cursor: pointer;

}
.cardPlans button:hover{
   background: #557AB5;
   transform: scale(1.05);
   
}
.cardPlans button:active{
    transform: scale(0.98);
}
/* Card 2 por ter campos a mais terá que ter a margin redefinida */
.cardPlusContent{
    color: #344F75;
}
.cardValuePlus {
    text-align: center;
    margin-bottom: 32px;
    padding: 8px;

    color: #fff;
    font-weight: 600;

    font-size: 25pt;
    width: 100%;

    background-image: linear-gradient(-233deg,#192436, #344F75, #557AB5);
}

/* CARD 3 EVENTO COM DISCONTO NO CARD */

.cardDiscont{
    display: flex;
    flex-direction: column;
    text-align: center;
    
    margin: 32px 0 25px 0;
    height: 65px;
    color: #fff;
    font-weight: 600;
    padding: 4px;
    font-size: 32pt;
    width: 100%;

    background-image: linear-gradient(-233deg,#192436, #344F75, #557AB5);
}
.cardDiscont span:first-child{
    font-size: 12pt;
    text-decoration: line-through;
    color: yellow;
}
.cardDiscont span:last-child{
    font-size: 23pt;
    padding: 4px;
}
.businessPlan{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(../img/bgPlanoEmpresa.png);
    background-repeat: no-repeat;
    background-position: center;
}
.businessPlan p{
    font-family: 'Times New Roman', Times, serif;
    margin-top: 200px;
    text-align: center;
    font-size: 35pt;
    font-weight: 600;
    width: 65%;
    color: #fff;
}
.businessPlan button{
    font-size: 25pt;
    font-weight: 600;
    color: #fff;

    box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.5);

    background: #344f75af;
    margin-top: 32px;
    padding: 32px;
    border-radius: 100px;
    width: 300px;

    border: 0;

    transition: all 0.2s;
    cursor: pointer;

}
.businessPlan button:hover{
    background: rgb(114, 164, 245);
}



/* Footer */

footer{
    width: 100%;
    height: 400px;
    /* border: 1px solid #E2DDDD; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    border-top: 1px solid #E2DDDD;

}

#footer1 h2{
    font-family: 'Koulen', cursive;
    font-size: 30px;
}
#footer1 h3{
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-weight: 200;
    color: rgba(0, 0, 0, 0.373);
    font-size: 15px;

}
#footer2 h3{
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-weight: 200;
    color: rgba(0, 0, 0, 0.373);
    font-size: 15px;


}
#footer3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#footer3 h3{
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-weight: 200;
    color: rgba(0, 0, 0, 0.373);
    font-size: 15px;


}
#footer3 img{
    margin-top: 15px;
    height: 30px;
    width: 30px;
}
