* {
  box-sizing: border-box;
  font-family: "Kdam Thmor Pro", sans-serif;
}
body {
  margin: 0 0 0 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
}

/* MENU */

header {
  width: 100%;
  height: 50px;
  display: flex;
  background-color: white;
  border-bottom: 1px solid #e2dddd;
}
nav {
  /* margin: 0 100px 0 100px; */
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
nav a {
  text-decoration: none;
  color: #000;
  transition: all 0.2s;
}
nav a:hover {
  color: #557ab5;
}
nav img {
  width: 120px;
  height: 50px;
  margin-left: -150px;
}
#menubox {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  margin-right: -150px;
}

#menubox li {
  font-family: "Kdam Thmor Pro", sans-serif;
  font-size: 15px;
  padding-right: 15px;
  font-weight: 400;
  text-shadow: 0.1em 0.1em 0.2em #00000020;
}
#contato {
  background-color: #344f75;
  color: white;
  padding: 5px 0px 5px 10px;
  border-radius: 2px;
  box-shadow: 0.1em 0.2em 0.2em #00000020;
}
a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  color: black;
}

#contato a:visited {
  color: white;
}

/*  MAIN */

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.meu_h1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 180px;
  color: #344f75;
  padding: 50px;
  text-align: center;
  font-family: "Kdam Thmor Pro", sans-serif;
  font-size: 30px;
  padding-right: 15px;
  font-weight: 400;
  text-shadow: 0.1em 0.1em 0.2em #00000020;
}

.container {
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 500px;
}

.contatoss {
  box-sizing: border-box;
  padding: 50px 50px;
  background-image: linear-gradient(-233deg,#192436, #344F75, #557AB5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur( 13.5px );
  -webkit-backdrop-filter: blur( 13.5px );
  border-radius: 3px;
  border: 1px solid rgba(12, 126, 192, 0.274); 
  color: white;
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 400px;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 11px;
  letter-spacing: 3px;
  text-shadow:0 8px 32px 0 rgba(31, 38, 135, 0.37) ;
}
.contatoss h4{
  margin:0;
  margin-bottom: 3px;
}
.nossasredes{
 padding-top: 140px;

}

.contatoss img {
  height: 30px;
  width: 30px;
  margin-left: 3px;
  margin-top: 10px;
}

.formulario {
  padding: 50px 50px;
  box-sizing: border-box;
  background-color: #ffffff;
  color:#9c9c9c;
  border-radius: 3px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 60%;
  height: 400px;
}
form{
  display: flex;
  flex-direction: column;
  padding:0;
  font-size: 14px;
}
input, textarea{
  width: 250px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #ffffff6e;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
}
textarea{
  height: 100px;
  margin-bottom: 10px;
}

/* Rodapé */

footer {
  width: 100%;
  height: 400px;
  /* border: 1px solid #E2DDDD; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  border-top: 1px solid #E2DDDD;

}

#footer1 h2 {
  font-family: "Koulen", cursive;
  font-size: 30px;
}
#footer1 h3 {
  font-family: "Kdam Thmor Pro", sans-serif;
  font-weight: 200;
  color: rgba(0, 0, 0, 0.373);
  font-size: 15px;
}
#footer2 h3 {
  font-family: "Kdam Thmor Pro", sans-serif;
  font-weight: 200;
  color: rgba(0, 0, 0, 0.373);
  font-size: 15px;
}
#footer3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#footer3 h3 {
  font-family: "Kdam Thmor Pro", sans-serif;
  font-weight: 200;
  color: rgba(0, 0, 0, 0.373);
  font-size: 15px;
}
#footer3 img {
  margin-top: 15px;
  height: 30px;
  width: 30px;
}
